*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1D2B53;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}



/* Left Side of Screen */

#leftSideScreen{
    display: grid;
    grid-template-rows: 20% 80%;
}

#addPlayerDiv{
    width: 100%;
    height: 100%;
    padding: 20px;
}

#addPlayerDiv h1, #randomizeDiv h1{
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

#randomizeDiv{
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-self: center;
    align-self: flex-start;
}

.inputBox{
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.numOfPosition{
    font-size: 1.2rem;
    width: 150px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

#playerPositionInput{
    cursor: pointer;
}

#playerNameSubmit{
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF004D;
    color: white;
}

#playerNameSubmit:hover{
    background-color: #FAEF5D;
    color: black;
    transition: background-color 0.3s ease;
}

#randomizeForm p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;

}

#randomizeButton {
    display: block;
    width: 30%;
    font-size: 2rem;
    padding: 15px;
    margin: 2rem 0;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FF004D;
    color: white;
    animation: randomizeAnimation 2s infinite;
    transition: background-color 0.3s ease;
}

@keyframes randomizeAnimation {
    0% {
        background-color: rgb(255, 0, 0);
    }
    50% {
        background-color: rgb(0, 255,0);
    }
    100% {
        background-color: rgb(0, 0, 255);
    }
}

#randomizeButton:hover {
    background-color: #FAEF5D;
    color: black;
    animation: none;
}

#numberOfTeams{
    display: block;
    width: 200px;
    margin: 6px 0;
}



/* Right Side of Screen */

#rightSideScreen{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#showPlayersDiv{
    display: flex;
    justify-content: center;
    height: 90%;
    width: 60%;
    overflow: auto;
}

#playersTable{
    width: 100%;
    border-collapse: collapse;
    user-select: none;
}

#playersTable thead, tfoot{
    position: sticky;
    top: -1px;
    bottom: -1px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #FF004D;
    color: white;
    height: 3rem;
}

#playersTable a{
    text-decoration: none;
    color: white;
}

#playersTableBody tr{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

#playersTableBody tr:hover{
    background-color: #FAEF5D;
    color: black;
}

#playersTableBody td{
    padding: 5px;
    text-align: left;
    font-size: 16px;
    border: 1px solid #000;
}

/* Modal */

#randomPlayersModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

#modalContent{
    position: relative;
    color: white;
    background-color: #99002e;
    margin: 10% auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    user-select: none
}

#modalClose{
    position: absolute;
    font-size: 3rem;
    top: 0;
    right: 1rem;
    cursor: pointer;
    color: white;
}

#teamsDiv{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;   This is being set in JavaScript */ 
    height: 100%;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
}

#teamsDiv h1{
    font-size: 3rem;
    color: white;
    border-bottom: 2px solid white;
    margin: 1rem 0;
}

.teamList{
    font-size: 1.5rem;
}