*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #4C5355;
    display: grid;
    height: 95vh;
    width: 95vw;
    grid-template-columns: 40% 60%;
    margin: 10px;
    gap: 20px;
}

#addPlayerDiv{
    margin: 20px 0 0 20px;  
}

#playerNameInput{
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

#playerNameSubmit{
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b43539;
    color: white;
}

#playerNameSubmit:hover{
    background-color: #ff5358;
    transition: background-color 0.3s ease;
}

#showPlayersDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}